<!doctype>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<meta name='theme-color' content='#aae1e1'>

	<link rel='manifest' href='/manifest.json'>
	<link rel='icon' type='image/png' href='/favicon.png'>
	<link rel='stylesheet' href='/main.css'>

	<title>__title__</title>

	<script>
		if ( 'serviceWorker' in navigator ) {
			window.addEventListener( 'load', function () {
				navigator.serviceWorker.register( '/sw.js' )
					.then( function ( registration ) {
						console.log( 'ServiceWorker registration successful' );
					})
					.catch( function ( err ) {
						console.error( err.stack );
					});
			});
		}
	</script>
</head>
<body>
	<header>__nav__</header>
	<main>__route__</main>
	<script async defer src='/bundle.js'></script>
</body>
</html>