@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-italic.woff2') format('woff2'),
		 url('/fonts/roboto/roboto-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-regular.woff2') format('woff2'),
		 url('/fonts/roboto/roboto-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-bold.woff2') format('woff2'),
		 url('/fonts/roboto/roboto-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-bolditalic.woff2') format('woff2'),
		 url('/fonts/roboto/roboto-bolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/rajdhani/rajdhani-light.woff2') format('woff2'),
		 url('/fonts/rajdhani/rajdhani-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/rajdhani/rajdhani-semibold.woff2') format('woff2'),
		 url('/fonts/rajdhani/rajdhani-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	font-family: Roboto;
	background-color: #f4f4f4;
	height: 101vh; /* prevents scrollbar-induced layout popping */
}

main {
	position: relative;
	max-width: 56em;
	background-color: white;
	padding: 2em;
	margin: 0 auto;
	box-sizing: border-box;
}

.loading::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation-name: fadein;
	animation-delay: 0.4s;
	animation-duration: 0.4s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	from { background-color: rgba(255,255,255,0); }
	to { background-color: rgba(255,255,255,0.6); }
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
}

h1 {
	font-size: 1.6em;
}

p {
	font-size: 14px;
}

a {
	color: inherit;
}

__components__