<article>
	<h2>
		<a href='{{item.url}}'>{{item.title}} {{#if item.url}}<small>({{hostname( item.url )}})</small>{{/if}}</a>
	</h2>

	<p>{{item.score}} points by <a href='/user/{{item.by}}'>{{item.by}}</a> {{timebetween(item.time, now)}} ago | <a href='/item/{{item.id}}'>{{item.descendants}} comments</a></p>

	<span class='index'>{{index}}</span>
</article>

<style>
	article {
		position: relative;
		padding: 0 0 0 2.5em;
		margin: 0 0 1.5em 0;
		font-family: Roboto;
	}

	h2 {
		font-size: 1em;
		font-weight: 400;
		margin: 0 0 0.5em 0;
		color: #333;
	}

	h2 a {
		text-decoration: none;
	}

	p {
		font-size: 0.8em;
		color: #888;
		margin: 0;
	}

	small {
		color: #888;
	}

	.index {
		position: absolute;
		font-family: Rajdhani;
		font-size: 1.6em;
		font-weight: 200;
		color: #888;
		left: 0.2em;
		top: 0;
		text-align: right;
		width: 0.75em;
		line-height: 1;
	}
</style>

<script>
	import hostname from '../helpers/hostname.js';
	import timebetween from '../helpers/timebetween.js';

	export default {
		data () {
			return {
				title: '',
				score: '',
				time: Date.now() / 1e3,
				now: Date.now() / 1e3
			};
		},

		helpers: {
			hostname,
			timebetween
		}
	};
</script>